/*formattazione*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

/*CREAZIONE BOTTONI*/

.bottone{
    background-color: aliceblue;
    border-radius: 40px;
    padding: 1%;
}

.bottone a{
    color: black;
}

.mac-head{
    padding: 15px;
    font-style: bold;
}

.open-d-head{
    padding: 15px;
    background-color: rgb(37, 37, 53);
}

.open-d-head a{
    color: white;
}

/*header*/

header{
    background-image: url(../img/jumbo.png);
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*barra superiore*/
nav{
    width: 60%;
    margin: 1%;
    padding: 0.5%;
    display: flex;
    justify-content: space-around;
}


/*link nav bar*/
.link{
    width: 70%;
}

.link ul{
    text-align: center;
    padding-top: 1.25%;
}
/*lista link nav bar*/
.link ul li{
    display: inline;
    margin: 0 25px;
}

/*color lista tag a*/
.link ul li a{
    color: white;
}

.container{
    width: 50%;
    height: 150px;
    color: white;
    text-align: center;
    padding: 2%;
    margin-bottom: 10px;
}

.container p{
    margin: 5%;
    font-size: 20px;
}

.container h2{
    font-size: 50px;
}

.sez-head{
    width: 30%;
    margin:5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
/*main*/

.seconda{
    background-color: #f6f6f6;
    margin: -15px;
}

.box{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse{
    transform: scaleY(-1); 
}

/*contenitore per le immagini*/
.pics{
    width: 40%;
    margin: 5%;
}

 section{
    margin-top: 5%;
 }

/*contenitore per il testo*/
.text{
    width: 20%;
    margin: 5%;
}

.text > h2{
    font-size: 50px;
}

.text p{
    margin-top: 3%;
}

/* quarta sezione del main*/
.box-4{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sec-4{
    width: 60%;
    margin: 1% auto;
    text-align: center;
    padding: 2%;
}

.sec-4 h2{
    font-size: 40px;
    font-style: bold;
}
.sec-4 p{
    font-style: bold;
    font-size: large;
    margin: 2%;
}

.sec-4 img{
    margin-bottom: 3%;
}

.img-sf{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 30px;
    margin: 4%;
    padding: 5%;
}

.bot-4{
    background-color: #8ea1e1;
    margin-bottom: 8%;
}

.bot-4 > a{
    color: white;
    font-size: 25px;
}
/*footer*/

footer{
    width: 100%;
    background-color: #23272A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*contenitore dei 5 sub-box*/
.f-box{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.f-sub-box{
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.f-1{
    width: 50%;
    color: #738adc;
    font-size: 25px;
}

select{
    border: #23272A;
    background-color: #23272A;
    color: white;
    font-size: medium;
}

.ita img{
    margin-top: 5%;
    height: 5%;
}
/*liste disposte a sx*/
.f-sub-box ul{
    text-align: left;
}

.f-sub-box ul li a{
    color: white;
}

.f-sub-box ul li{
    margin-top: 5%;
}

.f-sub-box strong{
    color: #738adc;
}

/* bottoni social*/
.fa {
    font-size: 70%;
    margin: 3%;
    width: 2%;
    color: white;
}

/*hover*/
.fa:hover {
    opacity: 0.7;
}

/*sub-footer*/
.sub-f{
    width: 60%;
    border-top: 1px solid #434e73;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    margin-bottom: 5%;
}

.sub-bot{
    background-color:  #738adc;
}
.sub-bot a{
    color: white;
}